<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{default.html :: layout(~{::title}, ~{::#promocodes}, ~{::script})}">


<title>Promo Codes</title>

<div id="promocodes">
    <h2>Promo Codes</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Creation Time</th>
            <th>Expiration Time</th>
            <th>Rules</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="promoCode : ${page.content}">
            <td th:text="${promoCode.code}"></td>
            <td th:text="${promoCode.description}"></td>
            <td th:text="${promoCode.creationTime}"></td>
            <td th:text="${promoCode.expirationTime}"></td>
            <td th:text="${promoCode.rules}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination-div">
        <span th:if="${page.hasPrevious()}">
            <a th:href="@{/movr/v2/promoCodes(page=${page.number-1},size=${page.size})}">Previous</a>
        </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
                <a th:href="@{/movr/v2/promoCodes(page=${i},size=${page.size})}">[[${i}+1]]</a>
            </span>
        </th:block>
        <span th:if="${page.hasNext()}">
            <a th:href="@{/movr/v2/promoCodes(page=${page.number+1},size=${page.size})}">Next</a>
        </span>
    </div>
</div>


<script>

</script>


</html>