<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{default.html :: layout(~{::title}, ~{::#rides}, ~{::script})}">


<title>Rides</title>

<div id="rides">
    <h2>Rides</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
            <th>Vehicle City</th>
            <th>Rider ID</th>
            <th>Vehicle ID</th>
            <th>Start Address</th>
            <th>End Address</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Revenue</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ride : ${rides}">
            <td th:text="${ride.id}"></td>
            <td th:text="${ride.city}"></td>
            <td th:text="${ride.vehicleCity}"></td>
            <td th:text="${ride.riderId}"></td>
            <td th:text="${ride.vehicleId}"></td>
            <td th:text="${ride.startAddress}"></td>
            <td th:text="${ride.endAddress}"></td>
            <td th:text="${ride.startTime}"></td>
            <td th:text="${ride.endTime}"></td>
            <td th:text="${ride.revenue}"></td>
        </tr>
        </tbody>
    </table>
</div>


<script>

</script>


</html>